.chatbot-container{
  display: flex;
  padding: 5rem 2.5rem 3rem 2.5rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.conversation-container {
  height: 38.375rem;
  display: flex;
  padding: 0 3.5rem;
  flex-direction: column;
  gap: 4rem;
  align-self: stretch;

}

.user-message {
  max-width: 44rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 1.563rem 1.563rem 0.625px 1.563rem;
  background: var(--am-purple-600);
  box-shadow: 0 4px 12px 0 rgba(137, 106, 247, 0.40);
}

.user-image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10rem;
}

.assistant-message {
  max-width: 44rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 1.563rem 1.563rem 1.563rem 0.625px;
  background: var(--am-white);
}

.assistant-image {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.313rem;
  border-radius: 10rem;
  background: var(--am-blue-200);
}

.chatbot-bar{
  display: flex;
  height: 64px;
  padding: 16px 6px 16px 24px;
  align-items: center;
  flex-direction: row;
  gap: 16px;

  border-radius: 50px;
  border: 1.5px solid var(--am-grey-200);
  background: var(--am-white);
}

.icon-circle{
  display: flex;
  width: 51px;
  height: 51px;
  padding: 13px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: var(--am-purple-100);
}
