html, body {
  display: flex !important;
  width: 100rem;
  height: 64rem;
  align-items: flex-start;
  background: var(--am-purple-100);
}

.companion-info-container {
  display: flex;
  height: 64rem;
  width: 23.875rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background: var(--am-white);
}

.weather-container {
  display: flex;
  width: 20.875rem;
  height: 20.9375rem;
  padding: 1.25rem 1.75rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border-radius: 0.5rem;
  background: url("/img/weather-container.png");
}

.room-container {
  display: flex;
  width: 76.125rem;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4.5rem;
  flex-shrink: 0;
}

.single-room-container {
  display: flex;
  width: 34.3125rem;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1 0 0;
  border-radius: 0.5rem;
  background: var(--am-white);
}

.vertical-divider-solid-empty {
  width: 1rem;
  height: 4rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--am-purple-500);
}

.vertical-divider-solid-full {
  width: 1rem;
  height: 4rem;
  border-radius: 0.25rem;
  background: var(--am-purple-500);
}

.available-container,
.unavailable-container {
  display: flex;
  width: 7.1875rem;
  height: 1.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.available-container {
  background: #3DB54D;
}

.unavailable-container {
  background: #E5232C;
}

.time-font {
  color: var(--am-white);
  font-family: Aspekta, serif;
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5.625rem;
}

.temperature-font {
  color: var(--am-white);
  font-family: Aspekta, serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5rem;
}

.robot-container {
  display: flex;
  width: 20.875rem;
  height: 11.1875rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  background: url(/img/robot-info.png);
  background-size: contain;
}
