@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-200.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-550.ttf') format('truetype');
    font-weight: 550;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-650.ttf') format('truetype');
    font-weight: 650;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-800.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Aspekta';
    src: url('../fonts/aspekta/Aspekta-1000.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: 'Trap';
    src: url('../fonts/trap/Trap-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Trap';
    src: url('../fonts/trap/Trap-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Trap';
    src: url('../fonts/trap/Trap-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Trap';
    src: url('../fonts/trap/Trap-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Trap';
    src: url('../fonts/trap/Trap-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Trap';
    src: url('../fonts/trap/Trap-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Trap';
    src: url('../fonts/trap/Trap-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --astromed-purple-50: #F6F7FF;
    --astromed-purple-100: #EBE9FE;
    --astromed-purple-200: #DAD6FE;
    --astromed-purple-300: #BEB5FD;
    --astromed-purple-400: #9E8BFA;
    --astromed-purple-500: #8463F6;
    --astromed-purple-600: #6E3AED;
    --astromed-purple-700: #5F28D9;
    --astromed-purple-800: #4F21B6;
    --astromed-purple-900: #421D95;
    --astromed-purple-950: #271065;

    --astromed-orange-50: #FFF4F1;
    --astromed-orange-100: #FFE7E1;
    --astromed-orange-200: #FFD2C7;
    --astromed-orange-300: #FFB3A0;
    --astromed-orange-400: #FF9074;
    --astromed-orange-500: #F8613B;
    --astromed-orange-600: #E5451D;
    --astromed-orange-700: #C13714;
    --astromed-orange-800: #A03014;
    --astromed-orange-900: #842E18;
    --astromed-orange-950: #481407;

    --astromed-blue-50: #EDFCFE;
    --astromed-blue-100: #D2F4FB;
    --astromed-blue-200: #A3E6F5;
    --astromed-blue-300: #71D6EF;
    --astromed-blue-400: #30BAE0;
    --astromed-blue-500: #149EC6;
    --astromed-blue-600: #147EA6;
    --astromed-blue-700: #176687;
    --astromed-blue-800: #1C536E;
    --astromed-blue-900: #1B475E;
    --astromed-blue-950: #0C2D40;

    --astromed-pink-50: #FEF1F9;
    --astromed-pink-100: #FEE5F5;
    --astromed-pink-200: #FECCED;
    --astromed-pink-300: #FF99DA;
    --astromed-pink-400: #FE68C4;
    --astromed-pink-500: #F83CAB;
    --astromed-pink-600: #E81A89;
    --astromed-pink-700: #CA0C6D;
    --astromed-pink-800: #A70D59;
    --astromed-pink-900: #8B104D;
    --astromed-pink-950: #55022B;

    --astromed-grey-50: #F6F7F9;
    --astromed-grey-100: #ECEEF2;
    --astromed-grey-200: #D5D8E2;
    --astromed-grey-300: #B1B8C8;
    --astromed-grey-400: #8691AA;
    --astromed-grey-500: #677490;
    --astromed-grey-600: #525C77;
    --astromed-grey-700: #434B61;
    --astromed-grey-800: #3A4052;
    --astromed-grey-900: #343846;
    --astromed-grey-950: #1A1C23;

    --astromed-white: #FFFFFF;
}


.text-button {
    font-family: Aspekta, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 650;
    line-height: 24px;
    letter-spacing: -0.22px;
}

.text-title-large {
    font-family: Trap, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
}

.text-title-1 {
    font-family: Trap, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0.48px;
}

.text-title-2 {
    font-family: Trap, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.text-title-3 {
    font-family: Trap, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.text-body-regular {
    font-family: Aspekta, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text-body-strong {
    font-family: Aspekta, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: 24px;
}

.text-body-light {
    font-family: Aspekta, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: 24px;
}

.text-body-large {
    font-family: Aspekta, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.text-body-caption {
    font-family: Aspekta, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.text-color-black {
    color: var(--astromed-grey-950);
}

.text-color-white {
    color: var(--astromed-grey-50);
}

.text-color-purple {
    color: var(--astromed-purple-500);
}

